/*Red Mode*/
:root {
    --bg: #f04747; 
    --inv: #57c3e7;
    --white: #fff;
    --HaskBG: url("../img/background-red.jpg");
    --btn: #eb5555;
    --btn-hover: #888585;
    --text: #f04747;
    --bg-gradiente: linear-gradient(45deg, #ff0000, #950101, #3d0000, #000000);
  }
  /*Dark Mode*/
  .darkmode {
    --bg: #57c3e7;
    --inv: #f04747; 
    --HaskBG: url("../img/background-blue.jpg");
    --text: #57c3e7;
    --white: #fff;
    --btn: #5da2f1;
    --btn-hover: #3089f0;
    --bg-gradiente: linear-gradient(45deg, #020202, #1597e5, #113cfc, #193498);
  }